<!DOCTYPE html>
<head>
    <title>TOVDATA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/icon/favicon.png">
    <link rel="icon" href="/images/icon/favicon.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168242582-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-168242582-1', {'page_title': 'About/History', 'page_path': "/about/history"});
    </script>
    
    <!-- Bootstrap 4.5.0 -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <!-- Leaflet -->
    <link rel="stylesheet" href="/stylesheets/leaflet.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/ionicons/css/ionicons.min.css">
    <!-- Public css -->
    <link rel="stylesheet" href="/stylesheets/public-style.css">
    <!-- Custom -->
    <style>
        .timeline {
            width: 100%;
        }
        .timeline-wrapper {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;
        }
        .timeline-item {
            /*flex-direction: column;*/
            position: relative;
            width: 50%;
        }
        /*
        .timeline-item::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 16px;
            height: 16px;
            margin-top: .425rem;
            margin-right: -.5rem;
            border: .0625rem solid #615C8F;
            border-radius: 50%;
        }
        .timeline-item:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: -.1875rem;
            width: .0625rem;
            margin-top: 1.675rem;
            margin-right: -.0325rem;
            background-color: #C1BCEF;
        }
        */
        .timeline-item:nth-child(even) {
            padding-right: 2.5rem;
            padding-bottom: 2rem;
            text-align: right;
        }
        .timeline-item:nth-child(odd) {
            /*margin-left: 50%;*/
            padding-left: 2.5rem;
            padding-bottom: 2rem;
            text-align: left;
        }
        .timeline-item:nth-child(odd)::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            margin-top: .425rem;
            margin-left: -.5rem;
            border: .0625rem solid #615C8F;
            border-radius: 50%;
        }
        .timeline-item:nth-child(odd)::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: -.1875rem;
            width: .0625rem;
            margin-top: 1.675rem;
            margin-left: -.0325rem;
            background-color: #C1BCEF;
        }
        .timeline-item .timeline-date {
            font-size: 25px;
            font-weight: 600;
            height: 30px;
            margin-bottom: 7px;
        }
        .timeline-item .timeline-item-content {
            font-size: 15px;
            font-weight: 200;
            margin-bottom: 8px;
        }
        .timeline-item .timeline-item-content:last-child {
            margin-bottom: 15px;
        }

        @media (max-width: 768px) {
            /* 태블릿 */
            .timeline {
                padding: 0 15px;
            }

            .timeline-item:nth-child(odd),
            .timeline-item:nth-child(even) {
                width: 100%;
                margin-left: 0;
                padding-left: 2.5rem;
                padding-right: 0;
                padding-bottom: 2rem;
                text-align: left;
            }

            .timeline-item:nth-child(odd) {
                /* 태블릿에서 상단 timelime-item 세로 길이 조정*/
                padding-bottom: 0;
            }
            
            .timeline-item::before {
                /*
                content: "";
                position: absolute;
                top: 0;
                */
                left: 0;
                /*
                width: 16px;
                height: 16px;
                margin-top: .425rem;
                */
                margin-left: -.5rem;
                /*
                border: .0625rem solid #615C8F;
                border-radius: 50%;
                */
            }
            
            .timeline-item::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: -.1875rem;
                width: .0625rem;
                /*margin-top: 1.675rem;*/
                margin-left: -.0325rem;
                background-color: #C1BCEF;
            }

            .timeline-item .timeline-date {
                height: auto;
            }
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <%- include ('./nav') %>
    <div class="page-header" id="intro">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-6">
                    <h2 class="page-title">History</b></h2>
                    <!-- <p class="page-sub-title">TOVDATA Solutions for Data Compliance</p> -->
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="wrapper-content">
            <div class="container">
                <div class="timeline">
                    <div class="timeline-wrapper">
                        <div class="timeline-item">
                            <h3 class="timeline-date">Month YYYY</h3>
                            <p class="timeline-item-content">PC에서 우측, 태블릿에서 상단에 표시합니다.</p>
                            <p class="timeline-item-content">줄 수가 많아도 이상없이 작동합니다.</p>
                            <p class="timeline-item-content">이 쪽 timeline-date에 날짜를 적습니다.</p>
                            <p class="timeline-item-content">-</p>
                            <p class="timeline-item-content">-</p>
                            <p class="timeline-item-content">-</p>
                            <p class="timeline-item-content">-</p>
                            <p class="timeline-item-content">-</p>
                        </div>
                        <div class="timeline-item">
                            <h3 class="timeline-date"> </h3>
                            <p class="timeline-item-content">PC에서 좌측, 태블릿에서 하단에 표시합니다.</p>
                        </div>
                    </div>
                    <div class="timeline-wrapper">
                        <div class="timeline-item">
                            <h3 class="timeline-date">May 2020</h3>
                            <p class="timeline-item-content">AWS Partnet Network 가입 - Registered Technical Partner</p>
                            <p class="timeline-item-content">Angel 투자 유치 by 피아몬드 주식회사</p>
                        </div>
                        <div class="timeline-item">
                            <h3 class="timeline-date"> </h3>
                            <p class="timeline-item-content">PC에서 좌측, 태블릿에서 하단에 표시합니다.</p>
                            <p class="timeline-item-content">-</p>
                            <p class="timeline-item-content">-</p>
                            <p class="timeline-item-content">-</p>
                            <p class="timeline-item-content">-</p>
                            <p class="timeline-item-content">-</p>
                            <p class="timeline-item-content">-</p>
                            <p class="timeline-item-content">-</p>
                        </div>
                    </div>
                    <div class="timeline-wrapper">
                        <div class="timeline-item">
                            <h3 class="timeline-date">Apr 2020</h3>
                            <p class="timeline-item-content">TOVDATA 설립</p>
                        </div>
                        <div class="timeline-item">
                            <h3 class="timeline-date"> </h3>
                            <p class="timeline-item-content"> </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="container" style="font-size: 13px; font-weight: 200; text-align: center;">Copyright © TOVDATA Inc. All rights reserved</div>
    </div>
    
    <!-- jQuery 1.12.4 -->
    <script src="/javascripts/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap 4.5.0 -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Leaflet -->
    <script src="/javascripts/leaflet.js"></script>
    <!-- Mobile Nav -->
    <script src="/javascripts/mobile-nav.js"></script>
    <!-- Public Function -->
    <script src="/javascripts/public-function.js"></script>
    <script>
        // Footer
        if (document.documentElement.clientHeight > document.body.clientHeight) {
            document.querySelector('.page-footer').style = "position: absolute; bottom: 0; width: 100%;";
        } else {
            document.querySelector('.page-footer').style = "";
        }
    </script>
</body>