<!DOCTYPE html>
<head>
    <title>Tovdata</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap 4.5.0 -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <!-- Leaflet -->
    <link rel="stylesheet" href="/stylesheets/leaflet.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/ionicons/css/ionicons.min.css">
    <!-- Public css -->
    <link rel="stylesheet" href="/stylesheets/public-style.css">
    <!-- Custom -->
    <style>
        .desc-box-title {
            text-align: center;
            margin-bottom: 50px;
        }
        .desc-box-title h1,
        .desc-box-title h2,
        .desc-box-title h3,
        .desc-box-title h4,
        .desc-box-title h5 {
            font-weight: 700;
            margin-bottom: 10px;
        }
        .desc-box-title .desc-box-sub-title {
            font-size: 0.82rem; 
            font-weight: 200;
        }

        .ibox-card {
            background-color: #ffffff;
            border-radius: 0.45rem;
            box-shadow: 0 8px 24px rgba(100, 100, 100, 0.15);
            cursor: pointer;
            height: 100%;
            margin: 0 10px;
            padding: 23px 18px;
            transition: transform 0.4s;
        }
        .ibox-card:hover {
            transform: scale(1.1);
        }
        .ibox-card .form-image {
            padding: 30px;
        }
        .ibox-card .image-desc {
            display: block;
            text-align: center;
        }
        .form-icon {
            align-items: center;
            display: flex;
            justify-content: center;
            padding-bottom: 14px;
        }
        .icon-area {
            align-items: center;
            border-radius: 50%;
            display: flex;
            height: 60px;
            justify-content: center;
            width: 60px;
        }
        .icon-desc {
            display: block;
            text-align: center;
        }
        .prod-name {
            display: block;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 10px;
            text-align: center;
        }
        .prod-desc {
            display: block;
            text-align: center;
        }

        .member-card {
            border-radius: 10px;
            box-shadow: 0 6px 18px rgba(120, 120, 120, 0.2);
            cursor: pointer;
            margin: 0 15px;
        }
        .member-card .member-img img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .member-card .member-img {
            position: relative;
        }
        .member-card .member-career {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            font-weight: 200;
            height: 76px;
            opacity: 0;
            overflow: hidden;
            padding: 10px 21px 8px 21px;;
            transition: ease-in-out 0.3s;
            background: rgba(255, 255, 255, 0.85);
        }
        .member-card .member-img:hover .member-career {
            opacity: 1;
        }
        .member-card .member-info {
            background-color: #ffffff;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 25px 15px;
            text-align: center;
        }
        .member-card .member-info h5 {
            font-weight: 700;
            margin-bottom: 5px;
            font-size: 18px;
            color: #222222;
        }
        .member-card .member-info span {
            display: block;
            font-size: 13px;
            font-weight: 400;
            color: #aaaaaa;
        }

        #btn-more {
            font-weight: 600;
            font-size: 14px;
            height: 44px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 12px 32px;
            border-radius: 10px;
            transition: 0.4s;
            color: #3498db;
            border: 2px solid #3498db;
        }
        #btn-more:hover {
            background-color: #3498db;
            color: #ffffff;
            text-decoration: none;
        }

        .contact-zone {
            position: relative;
            height: 410px;
        }
        .contact-zone .form-map {
            position: absolute;
            top: 0;
            left: 0;
            height: 410px;
            width: 100%;
        }
        .contact-area {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 100%;
        }
        .contact-box {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 1px 2px rgba(100, 100, 100, 0.25), 0 3px 5px rgba(100, 100, 100, 0.4);
            padding: 20px 25px;
            z-index: 500;
        }
        .contact-box .contact-box-title {
            margin-bottom: 17px;
        }
        .contact-box .contact-label {
            font-size: 14px;
            font-weight: 200;
            margin-bottom: 0;
        }

         #mv-map-1,
         #mv-map-2,
         #mv-map-3 {
             cursor: pointer;
         }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light sticky-top" id="nav-main" style="background-color: #f5f8fd; padding: 10px;">
        <div class="container d-flex" style="justify-content: space-between;">
            <a class="navbar-brand" href="/home"><!-- <img src=""> -->Tovdata</a>
            <div class="main-nav" id="mainNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item dropdown"><a class="nav-link" href="/about">About</a>
                        <ul>
                          <li><a class="nav-link" href="/about/history">History</a></li>
                          <li><a class="nav-link" href="/about/join">Join us</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#mv-services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#mv-products">Products</a></li>
                    <li class="nav-item"><a class="nav-link" href="#mv-team">Team</a></li>
                    <li class="nav-item"><a class="nav-link" href="#mv-contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-header" id="intro">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-6 o-md-last">
                    <h2 class="main-title">Build Trust, Opportunity, Value on your <b style="font-weight: 600;">Data</b></h2>
                </div>
                <div class="col-lg-6 o-md-first">
                    <img class="image-w-100" src="/images/home/intro.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="wrapper-content">
            <div class="container">
                <div class="desc-box">
                    <div class="desc-box-title">
                        <h2>About</h2>
                        <!-- <small>TOVDATA Value proposition</small> -->
                    </div>
                    <div class="row desc-box-content d-flex">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-content" id="mv-services">
            <div class="container">
                <div class="desc-box">
                    <div class="desc-box-title">
                        <h2>Services</h2>
                        <small class="desc-box-sub-title">TOVDATA Value proposition</small>
                    </div>
                    <div class="desc-box-content">
                        <div class="row d-flex m-b-xl">
                            <div class="col-md-3">
                                <div class="ibox-card">
                                    <div class="form-image">
                                        <img class="s-image image-w-100" src="/images/home/main_1.png" />
                                    </div>
                                    <small class="image-desc">데이터 반출 절차 지원 및<br/>데이터 활용성 증가</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox-card">
                                    <div class="form-image">
                                        <img class="s-image image-w-100" src="/images/home/main_2.png" />
                                    </div>
                                    <small class=image-desc>규제 준수 여부 증명으로 인한<br/>법적 RISK 관리</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox-card">
                                    <div class="form-image">
                                        <img class="s-image image-w-100" src="/images/home/main_3.png" />
                                    </div>
                                    <small class="image-desc">적법한 데이터 이용,<br/>프로세스 제공</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox-card">
                                    <div class="form-image">
                                        <img class="s-image image-w-100" src="/images/home/main_4.png" />
                                    </div>
                                    <small class="image-desc">법적, 시스템적 전문성에 대한<br/>부담 경감 및 비용 절감</small>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row d-flex">
                            <div class="col-md-3">
                                <div class="ibox-card">
                                    <div class="form-icon">
                                        <div class="icon-area" style="background-color: #fff0da;">
                                            <i class="ion-ios-analytics" style="color: #e98e06; font-size: 36px;"></i>
                                        </div>
                                    </div>
                                    <small class="icon-desc">데이터 반출 절차 지원 및<br/>데이터 활용성 증가</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox-card">
                                    <div class="form-icon">
                                        <div class="icon-area" style="background-color: #e6fdfc;">
                                            <i class="ion-ios-search" style="color: #3fcdc7; font-size: 36px;"></i>
                                        </div>
                                    </div>
                                    <small class=icon-desc>규제 준수 여부 증명으로 인한<br/>법적 RISK 관리</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox-card">
                                    <div class="form-icon">
                                        <div class="icon-area" style="background-color: #eafde7;">
                                            <i class="ion-ios-pulse" style="color: #41cf2e; font-size: 36px;"></i>
                                        </div>
                                    </div>
                                    <small class="icon-desc">적법한 데이터 이용,<br/>프로세스 제공</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox-card">
                                    <div class="form-icon">
                                        <div class="icon-area" style="background-color: #ecebff;">
                                            <i class="ion-ios-trending-down" style="color: #8660fe; font-size: 36px;"></i>
                                        </div>
                                    </div>
                                    <small class="icon-desc">법적, 시스템적 전문성에 대한<br/>부담 경감 및 비용 절감</small>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-content bg-main" id="mv-products">
            <div class="container">
                <div class="desc-box">
                    <div class="desc-box-title">
                        <h2>Products</h2>
                        <!-- <small>TOVDATA Value proposition</small> -->
                    </div>
                    <div class="row desc-box-content d-flex">
                        <div class="col-md-3">
                            <div class="ibox-card">
                                <div class="form-icon">
                                    <div class="icon-area" style="background-color: #eafde7;">
                                        <i class="ion-ios-cog" style="color: #41cf2e; font-size: 36px;"></i>
                                    </div>
                                </div>
                                <small class="prod-name">데이터 반출 관리 시스템</small>
                                <small class="prod-desc">사용자 동의에 기반한 적법한 데이터 반출 관리, 데이터의 안전한 운영, 자체 활용 및 외부활용에 필요한 관리 프로세스 제공</small>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ibox-card">
                                <div class="form-icon">
                                    <div class="icon-area" style="background-color: #e1eeff;">
                                        <i class="ion-ios-paper" style="color: #2282ff; font-size: 36px;"></i>
                                    </div>
                                </div>
                                <small class="prod-name">동의 증명 서비스</small>
                                <small class="prod-desc">블록체인 기반의 사용자 동의 내역 증명서비스로 데이터 활용 동의 사항 관리를 통한 동의 내역 증명</small>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ibox-card">
                                <div class="form-icon">
                                    <div class="icon-area" style="background-color: #fceef3;">
                                        <i class="ion-ios-speedometer" style="color: #ff689b; font-size: 36px;"></i>
                                    </div>
                                </div>
                                <small class="prod-name">재식별 위험도 평가 <strong style="color: #787878; font-size: 12px; font-weight: 300;">(출시 예정)</strong></small>
                                <small class="prod-desc">비식별화된 데이터의 반출 이력에 따른 재식별 가능성 평가 및 KLT 프라이버시 모델 기반 위험도 산출</small>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex" style="align-items: center; justify-content: center;">
                            <a id="btn-more" href="/products">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-content bg-sub" id="mv-team">
            <div class="container">
                <div class="desc-box">
                    <div class="desc-box-title">
                        <h2>Team</h2>
                    </div>
                    <div class="row desc-box-content d-flex">
                        <div class="col-md-4">
                            <div class="member-card">
                                <div class="member-img">
                                    <img class="image-w-max" src="images/member/member(hyojin_park).png">
                                    <div class="member-career">
                                        <b>Career</b><br/>
                                        kaist<br/>
                                        <span class="m-r-sm" style="font-size: 11px;"><i class="fa fa-envelope-o " style="width: 18px;"></i>hjpark@tovdata.com</span>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h5>Hyojin Park</h5>
                                    <span>CEO/Compliance Expert</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="member-card">
                                <div class="member-img">
                                    <img class="image-w-max" src="images/member/member(sungkwan_jung).png">
                                    <div class="member-career">
                                        <b>Career</b><br/>
                                        kaist<br/>
                                        <span class="m-r-sm" style="font-size: 11px;"><i class="fa fa-envelope-o " style="width: 18px;"></i>skjung@tovdata.com</span>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h5>Sungkwan Jung</h5>
                                    <span>CTO/Solution Architecture</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="member-card">
                                <div class="member-img">
                                    <img class="image-w-max" src="images/member/member(suzy_jeon).png">
                                    <div class="member-career">
                                        <b>Career</b><br/>
                                        kaist<br/>
                                        <span class="m-r-sm" style="font-size: 11px;"><i class="fa fa-envelope-o " style="width: 18px;"></i>suzy@tovdata.com</span>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h5>Suzy Jeon</h5>
                                    <span>Head of Marketing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-content bg-main contact-zone" id="mv-contact">
            <div class="form-map" id="map">
                <div class="container-md contact-area">
                    <div class="contact-box">
                        <h3 class="contact-box-title" id="mv-map-1">contact</h2>
                        <div class="contact-box-content">
                            <div class="m-b-sm">
                                <span class="m-r-sm" style="width: 20px; text-align: center;">
                                    <i class="fa fa-user-circle" style="width: 18px;"></i>
                                </span>
                                <label class="contact-label" id="mv-map-2">주식회사 토브데이터</label>
                            </div>
                            <div class="m-b-sm">
                                <span class="m-r-sm" style="width: 20px; text-align: center;">
                                    <i class="fa fa-map-o" style="width: 18px;"></i>
                                </span>
                                <label class="contact-label" id="mv-map-3">193, Munji-ro, Yuseong-gu, Daejeon, Republic of Korea</label>
                            </div>
                            <div class="m-b-none">
                                <span class="m-r-sm" style="width: 20px; text-align: center;">
                                    <i class="fa fa-envelope-o " style="width: 18px;"></i>
                                </span>
                                <label class="contact-label">contact@tovdata.com</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="container" style="font-size: 13px; font-weight: 200; text-align: center;">Copyright © TOVDATA Inc. All rights reserved</div>
    </div>
    
    <!-- jQuery 1.12.4 -->
    <script src="/javascripts/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap 4.5.0 -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Leaflet -->
    <script src="/javascripts/leaflet.js"></script>
    <!-- Mobile Nav -->
    <script src="/javascripts/mobile-nav.js"></script>
    <!-- Public Function -->
    <script src="/javascripts/public-function.js"></script>
    <script>
        // Service Image
        let imageWidth = 0;
        document.querySelectorAll('.s-image').forEach(function(elem) {
            imageWidth = elem.clientWidth;
            $(elem).height(imageWidth);
        });

        // Leaflet Map
        const map = L.map('map', {
            zoom: 16,
            scrollWheelZoom: false,
        });
        setCenterMap();
        // OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        // Marker
        const marker = L.icon({
            iconUrl: 'images/map/map-marker.png',
            iconSize: [23, 35],
        });
        L.marker([36.392,127.399], {icon: marker}).addTo(map).on('click', function() {
            window.open('https://www.google.com/maps/place/%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD+%EB%8C%80%EC%A0%84%EA%B4%91%EC%97%AD%EC%8B%9C+%EC%9C%A0%EC%84%B1%EA%B5%AC+%EC%A0%84%EB%AF%BC%EB%8F%99+%EB%AC%B8%EC%A7%80%EB%A1%9C+193/@36.392067,127.398699,17z/data=!4m5!3m4!1s0x356549e5fde31e29:0x65bf2de7ed4fe983!8m2!3d36.3920674!4d127.3986991?hl=ko', "_blank");
        });
        // Click Event
        document.querySelector('.contact-box #mv-map-1').addEventListener('click', function() {
            setCenterMap();
        });
        document.querySelector('.contact-box #mv-map-2').addEventListener('click', function() {
            setCenterMap();
        });
        document.querySelector('.contact-box #mv-map-3').addEventListener('click', function() {
            setCenterMap();
        });

        window.onresize = function() {
            setCenterMap();
        }
        // Set Center
        function setCenterMap() {
            if (document.body.clientWidth < 768) {
                map.setView([36.3936, 127.399], 16);
            } else {
                map.setView([36.392, 127.404], 16);
            }
        }
        
        // Smooth scroll for the navigation and links with .scrollto classes
        $('.main-nav a, .mobile-nav a').on('click', function() {
            const target = $(this.hash);
            if (target.length) {
                let top_space = 0;

                if ($('#nav-main').length) {
                    top_space = $('#nav-main').outerHeight();
                }

                $('html, body').animate({
                    scrollTop: target.offset().top - top_space
                });

                if ($(this).parents('.main-nav, .mobile-nav').length) {
                    $('.main-nav .active, .mobile-nav .active').removeClass('active');
                    $(this).closest('li').addClass('active');
                }
                // Mobile Nav
                if ($('body').hasClass('mobile-nav-active')) {
                    $('body').removeClass('mobile-nav-active');
                    $('.mobile-nav-toggle i').toggleClass('fa-times fa-bars');
                    $('.mobile-nav-overly').fadeOut();
                }
                return false;
            }
        });

        // resize 경우,
        $(window).resize(function() {
            console.log(imageWidth);
            console.log(document.querySelector('.s-image').clientWidth);
            // Service Image
            if (imageWidth !== document.querySelectorAll('.s-image')[0].clientWidth) {
                document.querySelectorAll('.s-image').forEach(function(elem) {
                    imageWidth = elem.clientWidth;
                    $(elem).height(imageWidth);
                });
            }
        });
    </script>
</body>