<!DOCTYPE html>
<head>
    <title>TOVDATA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/icon/favicon.png">
    <link rel="icon" href="/images/icon/favicon.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168242582-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-168242582-1', {'page_title': 'Team', 'page_path': "/team"});
    </script>
    
    <!-- Bootstrap 4.5.0 -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <!-- Leaflet -->
    <link rel="stylesheet" href="/stylesheets/leaflet.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/ionicons/css/ionicons.min.css">
    <!-- Public css -->
    <link rel="stylesheet" href="/stylesheets/public-style.css">
    <!-- Custom -->
    <style>
        /* .member-card {
            border-radius: 10px;
            box-shadow: 0 6px 18px rgba(120, 120, 120, 0.2);
            cursor: pointer;
            margin: 0 15px;
        }
        .member-card .member-img img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .member-card .member-img {
            position: relative;
        }
        .member-card .member-career {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            font-weight: 200;
            height: 76px;
            opacity: 0;
            overflow: hidden;
            padding: 10px 21px 8px 21px;;
            transition: ease-in-out 0.3s;
            background: rgba(255, 255, 255, 0.85);
        }
        .member-card .member-img:hover .member-career {
            opacity: 1;
        }
        .member-card .member-info {
            background-color: #ffffff;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 25px 15px;
            text-align: center;
        }
        .member-card .member-info h5 {
            font-weight: 700;
            margin-bottom: 5px;
            font-size: 18px;
            color: #222222;
        }
        .member-card .member-info span {
            display: block;
            font-size: 13px;
            font-weight: 400;
            color: #aaaaaa;
            } *//*
            .col-md-4 {
                justify-content: center;
            }
            .member-card {
                border-radius: 10px;
                box-shadow: 0 6px 18px rgba(120, 120, 120, 0.2);
                cursor: pointer;
                max-width: fit-content;
                margin: 0 15px;
                padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 15px;
                padding-right:15px;

            }
            .member-card .member-info {
                background-color: #FFFFFF;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding: 25px 15px 20px 15px;
                text-align: center;
            }
            .member-card .member-info h5 {
                font-weight: 700;
                margin-bottom: 5px;
                font-size: 18px;
                color: #222222;
            }
            .member-card .member-info span {
                display: block;
                font-size: 13px;
                font-weight: 400;
                color: #AAAAAA;
            }
            .member-card .hr-member-info-dashed {
                margin: 0 30px;
                border-top: 1px dashed #CDCDCD;
            }
            .member-card .member-career {
                background-color: #FFFFFF;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: 20px 15px 25px 15px;
            }
            .member-card .member-career p {
                color: #656565;
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 8px;
                padding: 0 30px;
            }
            .member-card .member-career p > i {
                float: left;
                margin-right: 8px;
            }
            .member-card .member-career .career-label {
                display: block;
                margin-left: 19px;
            }
            .member-card .member-image {
                height: auto;
                max-width: 90%;
            }
            .sg-card {
                background-color: #ffffff;
                border-radius: 10px;
                box-shadow: 0 6px 18px rgba(120, 120, 120, 0.2);
                cursor: pointer;
                margin: 0 15px;
                padding: 25px 35px;
            }
            @media(max-width: 768px) {
                .member-card {
                    margin: 0 15px 30px 10px !important;
                }
                .sg-card {
                    margin: 0 15px 30px 10px !important;
                }
            }*/

            .row-title {
                font-size: 1.8rem;
                font-weight: 800;
                margin-bottom: 2.375rem;
                text-align: center;
            }
            .member-card {
                border: 1px solid rgba(124, 104, 238, 0.12);
                height: calc(100% - 1.75rem);
                margin-bottom: 1.75rem;
                padding: 1.75rem 1.5rem 1.25rem 1.5rem;
                position: relative;
                user-select: none;
            }
            .member-image {
                border-radius: 50%;
                display: block;
                -webkit-filter: grayscale(100%);
                filter: gray;
                margin: 0 auto 0.875rem auto;
                height: 12rem;
                transition: filter 0.45s, -webkit-filter 0.45s, transform 0.45s;
                width: 12rem;
            }
            .member-image:hover {
                -webkit-filter: grayscale(0%);
                filter: none;
                transform: scale(1.05);
            }
            .member-name {
                color: #48494A;
                font-size: 21px;
                font-weight: 800;
                margin-bottom: 0.45rem;
                text-align: center;
            }
            .member-name > strong {
                color: #8D73D9;
                font-size: 18px;
            }
            .member-info {
                font-size: 14px;
                text-align: center;
            }
            .member-career {
                display: none;
            }
            .member-career > p {
                margin-bottom: 0.4rem;
            }
            .member-career > p:last-child {
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>
        <!-- Navbar -->
        <%- include ('./nav') %>

        <div class="page-header" id="intro">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-6">
                        <h2 class="page-title">Team</b></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="wrapper-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="row-title">Members</h3>
                        </div>
                        <div class="col-lg-12">
                            <div class="row justify-content-center">
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <div class="member-card shadow-sm rounded">
                                        <img class="member-image" src="/members/ellie.png"></img>
                                        <div class="member-info">
                                            <h5 class="member-name">박효진 <strong>CEO</strong></h5>
                                            <p style="color: #ADADAD; margin-bottom: 0.5rem;">ellie@tovdata.com</p>
                                            <div class="member-career">
                                                <p>KAIST 정보통신공학부 박사</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <div class="member-card shadow-sm rounded">
                                        <img class="member-image" src="/members/tim.png"></img>
                                        <div class="member-info">
                                            <h5 class="member-name">정성관 <strong>CTO</strong></h5>
                                            <p style="color: #ADADAD; margin-bottom: 0.5rem;">tim@tovdata.com</p>
                                            <div class="member-career">
                                                <p>KAIST 전기 및 전자공학 박사</p>
                                                <p>前) KAIST IT융합연구소 지능화기술연구팀 팀장</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <div class="member-card shadow-sm rounded">
                                        <img class="member-image" src="/members/suzy.png"></img>
                                        <div class="member-info">
                                            <h5 class="member-name">전수지 <strong>CMO</strong></h5>
                                            <p style="color: #ADADAD; margin-bottom: 0.5rem;">suzy@tovdata.com</p>
                                            <div class="member-career">
                                                <p>충남대학교 경영학과 박사</p>
                                                <p>前) KAIST IT융합연구소 지능화기술연구팀 연구원</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <div class="member-card shadow-sm rounded">
                                        <img class="member-image" src="/members/leo.png"></img>
                                        <div class="member-info">
                                            <h5 class="member-name">전규영 <strong>Senior Developer</strong></h5>
                                            <p style="color: #ADADAD; margin-bottom: 0.5rem;">leo@tovdata.com</p>
                                            <div class="member-career">
                                                <p>성균관대학교 전자전기컴퓨터공학 석사</p>
                                                <p>前) SKT SW Engineer</p>
                                                <p>前) LG전자 SW Engineer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <div class="member-card shadow-sm rounded">
                                        <img class="member-image" src="/members/min.png"></img>
                                        <div class="member-info">
                                            <h5 class="member-name">박해민 <strong>Developer</strong></h5>
                                            <p style="color: #ADADAD; margin-bottom: 0.5rem;">min@tovdata.com</p>
                                            <div class="member-career">
                                                <p>前) KAIST IT융합연구소 지능화기술연구팀 연구원</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <div class="member-card shadow-sm rounded">
                                        <img class="member-image" src="/members/jenny.png"></img>
                                        <div class="member-info">
                                            <h5 class="member-name">정재은 <strong>Designer</strong></h5>
                                            <p style="color: #ADADAD; margin-bottom: 0.5rem;">jenny@tovdata.com</p>
                                            <div class="member-career">
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--
                <div class="container">
                    <div class="form-b">
                        <div class="form-b-title">
                            <h3>Members</h3>
                        </div>
                        <div class="form-b-content flex-w-center">
                            <div class="col-md-4 flex-w-center">
                                <div class="member-card flex-w-center">
                                    <img class="member-image" src="images/team/member(hyojin_park-mono).png">
                                </div>
                            </div>
                            <div class="col-md-4 flex-w-center">
                                <div class="member-card flex-w-center">
                                    <img class="member-image" src="images/team/member(sungkwan_jung-mono).png">
                                </div>
                            </div>
                            <div class="col-md-4 flex-w-center">
                                <div class="member-card flex-w-center">
                                    <img class="member-image" src="images/team/member(suzy_jeon-mono).png">
                                </div>
                            </div>
                            <!--<div class="col-md-4">
                                <div class="member-card">
                                    <div class="member-img">
                                        <img class="image-w-max" src="images/team/member(hyojin_park).png" />
                                        <div class="member-career">
                                            <b>Career</b><br/>
                                            kaist<br/>
                                            <span class="m-r-sm" style="font-size: 11px;"><i class="fa fa-envelope-o " style="width: 18px;"></i>hjpark@tovdata.com</span>
                                        </div>
                                    </div>
                                    <div class="member-info">
                                        <h5>Hyojin Park</h5>
                                        <span>CEO/Compliance Expert</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="member-card">
                                    <div class="member-img">
                                        <img class="image-w-max" src="images/team/member(sungkwan_jung).png" />
                                        <div class="member-career">
                                            <b>Career</b><br/>
                                            kaist<br/>
                                            <span class="m-r-sm" style="font-size: 11px;"><i class="fa fa-envelope-o " style="width: 18px;"></i>skjung@tovdata.com</span>
                                        </div>
                                    </div>
                                    <div class="member-info">
                                        <h5>Sungkwan Jung</h5>
                                        <span>CTO/Solution Architecture</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="member-card">
                                    <div class="member-img">
                                        <img class="image-w-max" src="images/team/member(suzy_jeon).png" />
                                        <div class="member-career">
                                            <b>Career</b><br/>
                                            kaist<br/>
                                            <span class="m-r-sm" style="font-size: 11px;"><i class="fa fa-envelope-o " style="width: 18px;"></i>suzy@tovdata.com</span>
                                        </div>
                                    </div>
                                    <div class="member-info">
                                        <h5>Suzy Jeon</h5>
                                        <span>Head of Marketing</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-b-content flex-w-center">
                        <div class="col-md-4 flex-w-center">
                            <div class="member-card flex-w-center">
                                <img class="member-image" src="images/team/member(kyuyoung_jeon-mono).png">
                            </div>
                        </div>
                        <div class="col-md-4 flex-w-center">
                            <div class="member-card flex-w-center">
                                <img class="member-image" src="images/team/member(jaewon_kim-mono).png">
                            </div>
                        </div>
                        <!-- 1st member card
                        <div class="col-md-4">
                            <div class="member-card">
                                <div class="member-info">
                                    <h5>name</h5>
                                    <span>title</span>
                                </div>
                                <div class="hr-member-info-dashed"></div>
                                <div class="member-career">
                                    <p><i class="ion-ios-ribbon"></i><span class="career-label">career-history</span></p>
                                    <p><i class="ion-ios-ribbon"></i><span class="career-label">career-history</span></p>
                                    <p><i class="ion-ios-ribbon"></i><span class="career-label">career-history</span></p>
                                </div>
                            </div>
                        </div> -->
                        <!-- 2nd member card
                        <div class="col-md-4">
                            <div class="member-card">
                                <div class="member-info">
                                    <h5>name</h5>
                                    <span>title</span>
                                </div>
                                <div class="hr-member-info-dashed"></div>
                                <div class="member-career">
                                    <p><i class="ion-ios-ribbon"></i><span class="career-label">career-history</span></p>
                                    <p><i class="ion-ios-ribbon"></i><span class="career-label">career-history</span></p>
                                    <p><i class="ion-ios-ribbon"></i><span class="career-label">career-history</span></p>
                                </div>
                            </div>
                        </div> -->
                        <!-- 3rd member card
                        <div class="col-md-4">
                            <div class="member-card">
                                <div class="member-info">
                                    <h5>name</h5>
                                    <span>title</span>
                                </div>
                                <div class="hr-member-info-dashed"></div>
                                <div class="member-career">
                                    <p><i class="ion-ios-ribbon"></i><span class="career-label">career-history</span></p>
                                    <p><i class="ion-ios-ribbon"></i><span class="career-label">career-history</span></p>
                                    <p><i class="ion-ios-ribbon"></i><span class="career-label">career-history</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
-->
            </div>
            <div class="wrapper-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="row-title">Seed Groups</h3>
                        </div>
                        <div class="col-lg-12">
                            <div class="row justify-content-center">
                                <div class="col-md-6 col-lg-4">
                                    <div class="card-sg">
                                        <img class="image-w-max" src="images/team/seed_group_1.png" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="card-sg">
                                        <img class="image-w-max" src="images/team/seed_group_2.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="container" style="font-size: 13px; font-weight: 200; text-align: center;">Copyright © TOVDATA Inc. All rights reserved</div>
    </div>
    
    <!-- jQuery 1.12.4 -->
    <script src="/javascripts/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap 4.5.0 -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Mobile Nav -->
    <script src="/javascripts/mobile-nav.js"></script>
    <!-- Public Function -->
    <script src="/javascripts/public-function.js"></script>
    <script>

    </script>
</body>