<!DOCTYPE html>
<html lang="kr">
  <head>
    <title>TOVDATA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/icon/favicon.png">
    <link rel="icon" href="/images/icon/favicon.png">
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168242582-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-168242582-1', { 'page_title': 'Team', 'page_path': "/team" });
    </script>
  
    <!-- Bootstrap 4.5.0 -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <!-- Leaflet -->
    <link rel="stylesheet" href="/stylesheets/leaflet.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/ionicons/css/ionicons.min.css">
    <!-- Public css -->
    <link rel="stylesheet" href="/stylesheets/public-style.css">
    <!-- Custom -->
    <style>
      .row-title {
        font-size: 1.8rem;
        font-weight: 800;
        margin-bottom: 2.375rem;
        text-align: center;
      }
  
      .member-card {
        border: 1px solid rgba(124, 104, 238, 0.12);
        height: calc(100% - 1.75rem);
        margin-bottom: 1.75rem;
        padding: 1.75rem 1.5rem 1.25rem 1.5rem;
        position: relative;
        user-select: none;
      }
      .member-image {
        border-radius: 50%;
        display: block;
        -webkit-filter: grayscale(100%);
        filter: gray;
        margin: 0 auto 1rem auto;
        height: 10rem;
        transition: filter 0.45s, -webkit-filter 0.45s, transform 0.45s;
        width: 10rem;
      }
      .member-image:hover {
        -webkit-filter: grayscale(0%);
        filter: none;
        transform: scale(1.05);
      }
      .member-name {
        color: #48494A;
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 0.5rem;
        text-align: center;
      }
      .member-name>strong {
        color: #8D73D9;
        font-size: 16px;
      }
      .member-contact {
        display: none;
        color: #ADADAD;
        margin-bottom: 0.5rem;
      }
      .member-info {
        font-size: 13px;
        text-align: center;
      }
      .member-career {
        /* display: none; */
        color: #ADADAD;
      }
      .member-career>p {
        margin-bottom: 0.4rem;
      }
      .member-career>p:last-child {
        margin-bottom: 0;
      }
    </style>
  </head>
  
  <body>
    <!-- Navbar -->
    <%- include ('./nav') %>
  
    <div class="page-header" id="intro">
      <div class="container">
        <div class="row d-flex">
          <div class="col-lg-6">
            <h2 class="page-title">Team</b></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="wrapper-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h3 class="row-title">Members</h3>
            </div>
            <div class="col-lg-12">
              <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4 col-xl-3">
                  <div class="member-card shadow-sm rounded">
                    <img class="member-image" src="/members/Ellie.png"></img>
                    <div class="member-info">
                      <h5 class="member-name">박효진 <strong>CEO, Founder</strong></h5>
                      <p class="member-contact">hjpark@tovdata.com</p>
                      <div class="member-career">
                        <p>KAIST 정보통신공학 박사</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                  <div class="member-card shadow-sm rounded">
                    <img class="member-image" src="/members/Tim.png"></img>
                    <div class="member-info">
                      <h5 class="member-name">정성관 <strong>CTO, Co-Founder</strong></h5>
                      <p class="member-contact">skjung@tovdata.com</p>
                      <div class="member-career">
                        <p>KAIST 전기 및 전자공학 박사</p>
                        <p>KAIST IT융합연구소</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                  <div class="member-card shadow-sm rounded">
                    <img class="member-image" src="/members/Suzy.png"></img>
                    <div class="member-info">
                      <h5 class="member-name">전수지 <strong>CMO, Co-Founder</strong></h5>
                      <p class="member-contact">suzy@tovdata.com</p>
                      <div class="member-career">
                        <p>충남대학교 경영학 박사</p>
                        <p>KAIST IT융합연구소</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                  <div class="member-card shadow-sm rounded">
                    <img class="member-image" src="/members/Seon.png"></img>
                    <div class="member-info">
                      <h5 class="member-name">박효주 <strong>Manager</strong></h5>
                      <p class="member-contact">kyjeon@tovdata.com</p>
                      <div class="member-career">
                        <p>KAIST 기술경영 석사</p>
                        <p>부산산업과학혁신원(BISTEP)</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                  <div class="member-card shadow-sm rounded">
                    <img class="member-image" src="/members/Logan.png"></img>
                    <div class="member-info">
                      <h5 class="member-name">최환석 <strong>Manager</strong></h5>
                      <p class="member-contact">kyjeon@tovdata.com</p>
                      <div class="member-career">
                        <p>한밭대학교 멀티미디어공학 박사</p>
                        <p>KAIST 전기및전자공학과</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                  <div class="member-card shadow-sm rounded">
                    <img class="member-image" src="/members/Leo.png"></img>
                    <div class="member-info">
                      <h5 class="member-name">전규영 <strong>Developer</strong></h5>
                      <p class="member-contact">kyjeon@tovdata.com</p>
                      <div class="member-career">
                        <p>성균관대학교 컴퓨터공학 석사</p>
                        <p>SKT, LG전자 SW Engineer</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                  <div class="member-card shadow-sm rounded">
                    <img class="member-image" src="/members/Min.png"></img>
                    <div class="member-info">
                      <h5 class="member-name">박해민 <strong>Developer</strong></h5>
                      <p class="member-contact">hmin@tovdata.com</p>
                      <div class="member-career">
                        <p>KAIST IT융합연구소</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                  <div class="member-card shadow-sm rounded">
                    <img class="member-image" src="/members/Jenny.png"></img>
                    <div class="member-info">
                      <h5 class="member-name">정재은 <strong>Designer</strong></h5>
                      <p class="member-contact">jenny@tovdata.com</p>
                      <div class="member-career">
                        <p>인제대학교 헬스케어IT공학 석사</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h3 class="row-title">Seed Groups</h3>
            </div>
            <div class="col-lg-12">
              <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                  <div class="card-sg">
                    <img class="image-w-max" src="images/team/seed_group_1.png" />
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="card-sg">
                    <img class="image-w-max" src="images/team/seed_group_2.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="page-footer">
      <div class="container" style="font-size: 13px; font-weight: 200; text-align: center;">Copyright © TOVDATA Inc. All
        rights reserved</div>
    </div>

    <!-- jQuery 1.12.4 -->
    <script src="/javascripts/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap 4.5.0 -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Mobile Nav -->
    <script src="/javascripts/mobile-nav.js"></script>
    <!-- Public Function -->
    <script src="/javascripts/public-function.js"></script>
    <script>

    </script>
  </body>
</html>
